SemanticTranslatorWeb/php/consumer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema attributeFormDefault="unqualified" 
		   elementFormDefault="qualified" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
	<xs:element name="data" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sensorTemp" 
					sawsdl:modelReference="/TemperatureSensor/" />
				<xs:element name="indoorTemp" 
					sawsdl:modelReference="/TemperatureSensor/" />
				<xs:element name="units"      
					sawsdl:modelReference="/hasUnits/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>



