OWLMatcher/Xsd_Xml/a3st.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://gres.uninova.pt/a3st">
	<xs:annotation>
		<xs:element name="map-data-ind">
			<xs:complexType mixed="true">
				<xs:attribute name="individual"	type="xs:string"/>
				<xs:attribute name="mdi-id"	type="xs:string"/>
			</xs:complexType>
		</xs:element>
	</xs:annotation>	
	<xs:attribute name="mpi-ref"  type="xs:string" />
</xs:schema>
